<style type="text/css">
.btn-file {
	position: absolute;
	overflow: hidden;
}

.file-input {
	margin-left: 200px;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: left;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}
</style>
<div>
	<ol class="ab-nav breadcrumb">
		<li
			ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path"
			ng-class="{ active: $last }"><a ng-if="!$last"
			ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label"
			class="margin-right-xs"></a> <span ng-if="$last"
			ng-bind="breadcrumb.label"></span></li>
	</ol>
</div>

<!-- NEW WIDGET START -->

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">File import</div>
		<div class="panel-body">
			<div class="btn-group">
				<button type="button" data-toggle="dropdown"
					class="btn btn-primary dropdown-toggle">
					Action <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="importoption in importoptions"><a
						href="javascript:void(0)"
						ng-click="importField(importoption.value)">{{importoption.option}}</a></li>

				</ul>
			</div>
			<span ng-disabled="browse"
				class="file-input btn btn-primary btn-file"> Browse&hellip; <input
				type="file"
				onchange="angular.element(this).scope().uploadFile(this.files)">
			</span>
		</div>
	</div>



	</div>
	<span ng-if="vehicles==0">No Data Found</span>
</article>




