<header class="header">

	<div id="logo-group">
		<span id="logo"><a href="#/"> <img
				src="/navresearch/resources/img/NavResearch.png" alt="navresearch Diagnostic Admin"></a> </span>
	</div>

</header>
<div id="main" role="main">

	<div id="content" class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
				<div class="well no-padding">

					<form action="/navresearch/loginUser" id="login-form"
						class="smart-form client-form" method="post">
						<header> Sign In </header>

						<fieldset>
							<label class="txt-color-red " style="font-size: 13px;"
								ng-hide="!error"> EmailId/Username or Password is wrong</label>
								
							<label class="txt-color-red " style="font-size: 13px;"
								ng-hide="!attExc">your account has been locked</label>
							<section>
								<label class="label">E-mail</label> <label class="input">
									<i class="icon-append fa fa-user"></i> <input type="text"
									name="j_username"> <b class="tooltip tooltip-top-right"><i
										class="fa fa-user txt-color-teal"></i> Please enter email
										address/username</b>
								</label>
							</section>
							<section>
								<label class="label">Password</label> <label class="input">
									<i class="icon-append fa fa-lock"></i> <input type="password"
									name="j_password"> <b class="tooltip tooltip-top-right"><i
										class="fa fa-lock txt-color-teal"></i> Enter your password</b>
								</label>
								<div class="note">
									<a href="forgotpassword.html">Forgot password?</a>
								</div>
							</section>

							<section>
								<label class="checkbox"> <input type="checkbox"
									checked=""> <i></i>Stay signed in
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="submit" class="btn btn-primary">Sign in</button>
						</footer>
					</form>

				</div>

			</div>
		</div>
	</div>
</div>
