<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Modal</h4>
    </div>
    <div class="modal-body" style="overflow: auto;">
        <div class="row">
            <div class="col-sm-3">
                <label>A</label>
            </div>
            <div class="col-sm-9">
                <p >{{A}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>B</label>
            </div>
            <div class="col-sm-9">
                <p>{{B}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>C</label>
            </div>
            <div class="col-sm-9">
                <p>{{B}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>D</label>
            </div>
            <div class="col-sm-9">
                <p>{{D}}</p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
    </div>
</div>